:root{
  --color1: #3e4a61;
  --color2: #1a2639;
  --color3: blue;
  --color4: black;
  --color5: white;
  --color6: gray;
}
.app{
  font-size: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  background-image: linear-gradient( 90deg, var(--color1) 10%, var(--color2) 90% );
  /* --tw-gradient-to: #020617 var(--tw-gradient-to-position);
  --tw-gradient-from: #1e293b var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(30 41 59 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));     */
}

.container{
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.main{
  margin-top: 10%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  justify-content: center;

}

.white-text{
  color: var(--color5);
}

.colored-text{
  color: var(--color3);
}

.grey-text{
  color: var(--color6);
}

.uppercase{
  text-transform: uppercase;
}
.main h1,span{
  line-height: 1;
  margin: 10px 0;
}

.btn-accept{
  font-size: 1.5rem;
  color: white;
  margin-top: 4rem;
  /* width: 8rem; */
  padding: 2px;
  border-radius: 4px;
  background: var(--color1);
  border-color: var(--color2);
  border-style: solid;
  box-shadow: 2px 2px var(--color2);
  transition-duration: 200ms;
}

.btn-accept:hover{
  transform: translate(-3px, -3px);
  box-shadow: 4px 4px var(--color2);  
  transition-duration: 200ms;
}

.btn-accept:active{
  transform: translate(3px, 3px);
  box-shadow: 4px 4px var(--color2);  
  transition-duration: 200ms;
}

.section2{
  margin-top: 10%;
  position: relative;
  min-height: 200vh;
  width: 100%;

  text-align: center;
  /* justify-content: center; */

}
.s2header{
  background-color: var(--color4);
  width: 100%;
  padding: 20px;
}
.workout1{
  margin-top: 4rem;
}
.btn-workout{
  font-size: 1.5rem;
  color: white;
  margin-left: 5px;
  margin-bottom: 20px;
  width: 16rem;
  padding: 2px;
  border-radius: 4px;
  background: var(--color1);
  border-color: var(--color2);
  border-style: solid;
  box-shadow: 2px 2px var(--color2);
  transition-duration: 200ms;
}

.btn-workout:hover{
  border-color: var(--color1);
  transition-duration: 200ms;
}

.btn-workout:active{
  border-color: var(--color2);
  transition-duration: 200ms;
}



.workout1 h2{
  font-weight: 500;
}
.workout1 h2 span{
  font-weight: 700;
  color: var(--color6);
}
.workout1 p{
  margin-bottom: 20px;
  color: var(--color5);
}

.workout2{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.workout2 h2{
  font-weight: 500;
}
.workout2 h2 span{
  font-weight: 700;
  color: var(--color6);
}
.workout2 p{
  margin-bottom: 20px;
  color: var(--color5);
}
.combo-container{
  width: 80%;
}
.workout2-combo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
  width: 100%;
}

.workout2-combo p{
  width: 100%;
  margin: auto;
}
.workout2-combo i{
  margin-right: 10px;
}
.poisionlist{
  display: flex;
  flex-direction: column;
}
.poisionlist button{
  color: var(--color5);
  padding: 2px;
  background: var(--color1);
  border-color: var(--color2);
  border-style: none;
}
.poisionlist button p:hover{
  color: var(--color3);
  transition-duration: 200ms;
}
.workout3{

}

.workout3 h2{
  font-weight: 500;
}
.workout3 h2 span{
  font-weight: 700;
  color: var(--color6);
}
.workout3 p{
  margin-bottom: 20px;
  color: var(--color5);
}

.workout4 h2{
  font-weight: 500;
}
.workout4 h2 span{
  font-weight: 700;
  color: var(--color6);
}
.workout4 p{
  margin-bottom: 20px;
  color: var(--color5);
}

/* card related css*/
.cardsmain{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.cardsingle{
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: var(--color4);
  color: var(--color5);
  width: 80%;
}

.cardsingle-row1{
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: space-evenly;
  align-items: end;
  margin: 20px 0px;

}
.cardsingle-row2{
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  margin: 5px 20px;
}
.cardsingle-row3{
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  margin: 5px 20px;
  width: 90%;
}

.cardsingle-row3 p{
  text-align: start;
}

.cardsingle-row4{
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin: 5px 20px;
  justify-content: space-around;

}